<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Administrador</title>
</head>
<body>
<div th:insert="fragmento.html"> </div>
<ul class="navbar-nav">
  <li class="nav-item" th:switch="${user}">
    <div th:case="'No se ha iniciado sesión'"> <a class="btn btn-success" role="button" th:href="@{/login}">Log In</a>  </div>
    <div th:case="*"th:href="@{/login}"> <a class="btn btn-danger" role="button" th:href="@{/logout}">Log Out</a></div>
  </li>
</ul>
</div>
</nav>
<h1>Portal del administrador</h1>
<!--crear usuario-->
<form th:action="@{/admin/usuario/nuevo}" method="get">
  <button type="submit" class="btn btn-success">Crear usuario</button>
</form>
<form th:action="@{/admin/usuario/editar}" method="get">
  <table>
    <tr>
        <th>Información</th>
        <th>Acciones</th>
        <th>Tarea: Nombre - Descripción - Estado</th>
    </tr>
        <th:block th:each="usuario : ${listaUsuarios}">
        <tr>
          <td>
          <div>
            <p th:text="${usuario.getNombre()}"></p>
            <p th:text="${usuario.getApellidos()}"></p>
            <p th:text="${usuario.getNif()}"></p>
            <th:block th:switch="${usuario.getActivo()}">
              <div th:case="'1'" class="estado">🟢</div>
              <div th:case="'0'" class="estado">🟠</div>
                <div th:case="*" class="estado">Error</div>
            </th:block>
            <p th:text="${usuario.getRoles()}"></p>
          </div>
          </td>
          <td>
            <button type="submit" class="btn btn-warning" th:value="${usuario.getNif()}" name="nif">Editar usuario</button>
            <a class="btn btn-danger" th:href="@{/admin/usuario/eliminar(nif=${usuario.getNif()})}">Eliminar usuario</a>
            <a class="btn btn-success" th:href="@{/admin/tareas/nueva(nif=${usuario.getNif()})}">Crear tarea</a>
          </td>
          <td>
          <th:block th:each="tarea : ${usuario.getTareas()}">
            <li>
              <span th:text="${tarea.getNombre()}"></span>
              <span> - </span>
              <span th:text="${tarea.getDescripcion()}"></span>
              <span> - </span>
              <th:block th:switch="${tarea.getEstado()}">
                <span th:case="'1'" class="estado">🟢</span>
                <span th:case="'0'" class="estado">🔴</span>
                <span th:case="*" class="estado">🟠</span>
              </th:block>
              <a class="btn btn-warning" th:href="@{/admin/tareas/editar(nif=${usuario.getNif()}, id=${tarea.getId()})}">Editar tarea</a>
              <a class="btn btn-danger" th:href="@{/admin/tareas/eliminar(nif=${usuario.getNif()}, id=${tarea.getId()})}">Eliminar tarea</a>
          </th:block>
          </td>
          <td>
          </td>
          </th:block>
            </td>
        </tr>
        </th:block>
  </table>
</form>
</body>
</html>