<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestor de tareas</title>
</head>
<body>
<div th:insert="fragmento.html"> </div>
<ul class="navbar-nav">
    <li class="nav-item" th:switch="${user}">
        <div th:case="'No se ha iniciado sesión'"> <a class="btn btn-success" role="button" th:href="@{/login}">Log In</a>  </div>
        <div th:case="*"th:href="@{/login}"> <a class="btn btn-danger" role="button" th:href="@{/logout}">Log Out</a></div>
    </li>
</ul>
</div>
</nav>
<form th:action="@{/user/tareas/actualizar(nif=${tarea.usuario.getNif()})}" th:object="${tarea}" method="post">
    <fieldset><legend>Edición de los datos de la tarea: </legend>
        <table>
            <tr>
                <td><label>Id: </label></td>
                <td><input type="text" readonly th:field="*{id}" /></td>
            </tr>
            <tr>
                <td><label>Nombre: </label></td>
                <td><input type="text" th:field="*{nombre}" /></td>
            </tr>
            <tr>
                <td><label>Descripción: </label></td>
                <td><input type="text" th:field="*{descripcion}" /></td>
            </tr>
            <tr>
                <td><label>Estado (1=Activo, 0=Inactivo): </label></td>
<!--                <td><input type="number" min="0" max="1" th:field="*{estado}" /></td>-->
                <td>
                    <select th:field="*{estado}">
                        <option th:value="0" th:text="Pendiente"></option>
                        <option th:value="1" th:text="Completa"></option>
                    </select>
                </td>
            </tr>
                <td>
                    <button type="submit" class="btn btn-success">Guardar nueva tarea</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>
