<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragmento.html"> </div>
<ul class="navbar-nav">
    <li class="nav-item" th:switch="${user}">
        <div th:case="'No se ha iniciado sesión'"> <a class="btn btn-success" role="button" th:href="@{/login}">Log In</a>  </div>
        <div th:case="*"th:href="@{/login}"> <a class="btn btn-danger" role="button" th:href="@{/logout}">Log Out</a></div>
    </li>
</ul>
</div>
</nav>
<h1>Esta es la vista mostrarusuarios.html</h1>

<a th:href="@{/logout}">Cerrar sesión</a>
</body>
</html>